<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span9 offset3">
              <ul class="nav nav-pills">
                <li><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a></li>
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include JB/pages_list %}
              </ul>
            </div>
          </div>
        </div>



    <div class="container-fluid">
      <div class="row-fluid">
        <div class ="span3">
          <div class="span6 offset2">
            <a href="http://codefellows.org">
              <img src="https://www.codefellows.org/assets/logo-9b9c2ba71305e3452de1acbd515ee606.png"></a>
            <p></p>
          </div>
          <div class="offset1">
            <h3>Collaborators</h3>
          </div>
            <div class ="span3">
              <a href="http://github.com/leastridge">
                <img src="https://secure.gravatar.com/avatar/0189cfc7ef8bcb4501299ad40857e5b9?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/brookr">
                <img src="https://secure.gravatar.com/avatar/6ae46eda8803667b8d7b308e452082ac?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/calico-g">
                <img src="https://secure.gravatar.com/avatar/8fa6d08522b34778cd6b51c7fe1777bf?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/lostincode">
                <img src="https://secure.gravatar.com/avatar/57cbe91d33317b4c5aa089a8e24c345e?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/irissilvermoon">
                <img src="https://secure.gravatar.com/avatar/7def60af8e129a78b1b330d3baa02584?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/luke-dr">
                <img src="https://secure.gravatar.com/avatar/79f09cf0dff4f294f5550a3fec1c2aea?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/mxstrand">
                <img src="https://secure.gravatar.com/avatar/759e870cb54358158d8acac2052888b6?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
            </div>

            <div class ="span3">
              <a href="http://github.com/chrisg220">
                <img src="https://secure.gravatar.com/avatar/bc189d6a5ef1b943b2cbd274665fb6c8?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
                <p></p>
              <a href="http://github.com/cameronbot">
                <img src="https://secure.gravatar.com/avatar/199a5078a3c9352841daac033454766b?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/ivanoats">
                <img src="https://secure.gravatar.com/avatar/ea2273b4310db9ac0109dfaefd489a06?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/mbegley">
                <img src="https://secure.gravatar.com/avatar/c34d5c8b376f8051f255c4d79af6af39?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/karmiclychee">
                <img src="https://secure.gravatar.com/avatar/6a912775063ae8d1ad29e609cf5ebbcc?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/eeelmer">
                <img src="https://secure.gravatar.com/avatar/45dac1f5c0a1b070aac04a3d0f7effbe?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/nuoymit">
                <img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
            </div>

            <div class ="span3">
              <a href="http://github.com/michaelarmfield">
                <img src="https://secure.gravatar.com/avatar/d3a197dd2245eac6ac962b117b742175?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/zaithottakath">
                <img src="https://secure.gravatar.com/avatar/2c76cdc5186f6e398ca4afd64aa1d6fe?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/alecmatias">
                <img src="https://secure.gravatar.com/avatar/9ecce17cd665b68f327c7ee68f4ef657?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/alphang">
                <img src="https://secure.gravatar.com/avatar/93ba1ad58c5f4cb1da86428eb212e383?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/dtakahas">
                <img src="https://secure.gravatar.com/avatar/66734356afee1927e59a69af5ac4085a?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/philco11">
                <img src="https://secure.gravatar.com/avatar/7d6f2aea430d2fb75eae9b11739128f3?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
              <p></p>
              <a href="http://github.com/sharataka">
                <img src="https://secure.gravatar.com/avatar/2edd5d576289c88d2cba1a92c9fb3e13?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></a>
            </div>
        </div>
        <div class="span7">
          {{ content }}


        <hr>
        <footer>
          <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
            with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
            and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
          </p>
        </footer>
        </div>
      </div>
    </div>

    {% include JB/analytics %}
  </body>
</html>
